.rick
{
  height:70px;
  width:70px;
  float: right;
  position: relative;
  bottom: 140px;
  right: 30px;
}
.copyright
{
  color: #EAF6F6
}
.footer-link
{
margin: 10px 30px 30px;
padding-bottom: 0;
}
.inn
{
  height:100px;
  width:100px;
}
.bottom-container
{
text-align: center;
background-color: #C4DDFF;
  max-width: 100%;
}
.pp
{
  color: black;
  font-size: 20px;
  font-family: none;
}
.contact-me
{
text-align: center;
font-family: 'Square Peg', cursive;
}
.skill3
{
font-family: 'Square Peg', cursive;
font-size: 50px;
margin-top: 0;
margin-bottom: 0;
margin-left: 1005px;
}
.skill4
{
color: black;
font-size: 20px;
margin-top: 0;
margin-bottom: 0;
margin-left: 650px;
}
.virus
{
  height:150px;
 width:150px;
 float: right;
 padding-left: 30px;
 padding-right: 50px;
 display: inline-block;
}
.skill2
{
color: black;
font-size: 20px;
}
.photoshop
{
  height:150px;
 width:150px;
 float: left;
 padding-left: 50px;
 padding-right: 30px;
}
.skill
{
text-align: center;
font-family: 'Square Peg', cursive;
font-size: 50px;
}
.middle-container
{
background-color: #C4DDFF;
  max-width: 100%;
}
.image1
  {
    height:100px;
   width:100px;
   }
.image2
   {
    width: 100%;
    height: 100%;
   }
body
{
color: #66BFBF;
width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;

}
hr {
  border-style: dotted none none;
  border-color: grey;
  border-width: 30px;
  width: 30%;
  margin-left: 35%;
}
.myphoto
{
border-radius: 100%;
height:200px;
width:200px;
}
.myself
{
text-align: center;
font-family: 'Square Peg', cursive;
font-size: 30px;
}
.about
{
  text-decoration: none;
  height:50px;
 width:50px;
 float: right;
 font-family: 'Square Peg', cursive;
 font-size: 30px;
}
.profile
{
text-align: center;
}
h1
{
font-family: 'Square Peg', cursive;
font-size: 70px;
margin-top: 0;
margin-bottom: 0;
}
h3
{
font-family: 'Square Peg', cursive;
font-size: 40px;
margin-top: 0;
margin-bottom: 0;
}
.btn {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: linear-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2BC48D);
  background-image: -moz-linear-gradient(top, #30E3CB, #2BC48D);
  background-image: -ms-linear-gradient(top, #30E3CB, #2BC48D);
  background-image: -o-linear-gradient(top, #30E3CB, #2BC48D);
  background-image: linear-gradient(to bottom, #30E3CB, #2BC48D);
  text-decoration: none;
}
