body {
  background-color: #98fb98;
}

hr {
  background-color: #98fb98;
  border-style: dotted none none;
  border-color: grey;
  border-width: 10px;
  height: 0px;
  width: 100px;
}

img {
  height: 100px;
}
img:hover{
  background-color: blue;
}

h3 {
  color: #66BFBF;
  font-size: 50px;
}

h1 {
  color: #66BFBF;
}

/* for all the images img to specife use class & classes can be multiple on one file
img{
  background-color: blue;
}
*/
.bomb{
  background-color: red;
}
/* id is same as clas & id is only 1 in files */
#heading {
  color: red;
}
